body{
    background-color: rgb(46, 85, 87);
}

header{
    background-color: black;
    color: white;
    font-size: 2vw;
}

#mainButton{
color: black;
height: 10vh;
width: 20vw;
font-size: 5vh;
}

#moneyDisplay{
    font-size: 5vh;
}

#loaderBorder{
    width: 20vw;
    height: 10vh;
    border: black;
    background-color: blue;
}

#loader{
    background-color: red;
    height:100%;
    width: 50%;
}

#singleMonsterDisplay{
    display: none;
    background-color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1vw;
    width: 80%;
    height: 50vh;
    margin: auto;
}

#close-singleMonsterDisplay{
    background-color: blue;
    width: 10%;
    height: 10%;
    float: right;
}

#allMonsterHolder{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5%;
    background-color: rgb(78, 141, 141);
    padding-top: 1vh;
}

.monsterCard{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 10%;
    height: 17vh;
    background-color:darkgray;
}

.monsterCard p{
    color: black;
    font: 1em sans-serif;
    margin-top: 20%;
}

.monsterName{
    color: cadetblue;
}


#zooTableDiv{
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

#zooTable{
    width: 100%;
}

.barHoldingColumn{
    width: 50%;
}

.outerBar{
    width: 100%;
    margin: auto;
    height: 3vh;
    background-color: black;
}
.progressBar{
    width: 0%;
    height: 100%;
    background-color: red;
}

td{
    text-align: center;
}