p{
    color: greenyellow;
}

#mainButton{
color: black;
height: 10vh;
width: 20vw;
font-size: 5vh;
}

#moneyDisplay{
    font-size: 5vh;
}

#loaderBorder{
    width: 20vw;
    height: 10vh;
    border: black;
    background-color: blue;
}

#loader{
    background-color: red;
    height:100%;
    width: 50%;
}

#singleMonsterDisplay{
    display: none;
    background-color: crimson;
    width: 80%;
    height: 50vh;
    margin: auto;
}

#close-singleMonsterDisplay{
    background-color: blue;
    width: 10%;
    height: 10%;
    float: right;
}

#allMonsterHolder{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 5%;
    background-color: aqua;
    padding-top: 1vh;
}

.monsterCard{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 10%;
    height: 17vh;
    background-color: blueviolet;
}

.monsterCard p{
    color: chartreuse;
    margin-top: 20%;
}

.monsterName{
    color: cadetblue;
}